/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Jan-2015, 16:36:18
    Author     : NAseq
*/

.pos{
    margin: auto !important;
    min-height: 700px !important;
}

.ui-draggable{
    height: 150px!important;
}

.btnCust{
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.buttons {
    margin: 5px;
    width: 120px;
    text-align: center;
}

.buttons a {
    margin-right: 30px;
    width: 120px;
    height: 120px;
    display: inline-block;
    position: relative;
    line-height: 120px;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea); 
    background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea); 
    background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: linear-gradient(top, #f6f6f6, #eaeaea);
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;
    border-radius: 64px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

.buttons a:active {
    top: 1px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f6f6f6));
    background-image: -webkit-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: -moz-linear-gradient(top, #eaeaea, #f6f6f6); 
    background-image: -ms-linear-gradient(top, #eaeaea, #f6f6f6); 
    background-image: -o-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: linear-gradient(top, #eaeaea, #f6f6f6);
}

.buttons a::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    background-color: #eaeaea;
    -moz-border-radius: 140px;
    -webkit-border-radius: 140px;
    border-radius: 140px;
    opacity: 0.5;		
}


.buttons a:active::before {
    top: -9px;
}

.buttons a:hover::before { opacity: 1; }

.buttons a.twitter:hover::before {
    background-color: #c6f0f8;
}

.buttons a.facebook:hover::before {
    background-color: #dae1f0;
}

.buttons a.dribble:hover::before {
    background-color: #fadae6;
}

.buttons a.rss:hover::before {
    background-color: #f8ebb6;
}


.buttons a img { 
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    border: 0 none;    
    height: 80px;
    padding: 20px;
    vertical-align: middle;
}
.buttons span { 
    top: 90px;
    vertical-align: bottom;
}

.currency{
    background: rgba(0, 0, 0, 0) url("../img/euro.png") no-repeat scroll 74px 3px / 25px auto!important;        
}